---
const PROJECTS = [
    {
        title: 'Online Shop',
        description: 'Online Shop made wit react',
        link: '#',
        github: '#',
        image: 'https://via.placeholder.com/300x200',
        tags: ['HTML','CSS','REACT']
    }
]
---

{
    PROJECTS.map(({title, description, tags, image}) =>{
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map(tag =>{
                    <li>{tag}</li>   
                })}
            </ul>
            <img src={image} >
        </article>
    })
}